* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: white;
}

.content {
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

h1.not {
    color: #000080;
}

.kind {
    color: #FFC20F;
}
p {
    text-align: center;
}

.content h2 {
    color: #D59536;
    background-color: #000080;
    margin-top: 2px;
}

.style {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
}

input {
    height: 100%;
    border: none;
    border-bottom: 2px solid #000080;
}

.add {
    color: #000080;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 3px;
    padding-left: 150px;
    
}

.text {
    margin-left: 10px;
    text-align: left;
}

.icon {
    padding-left: 20px;
    color: #000080;
    box-sizing: 20px;
}

.contain {
    margin-top: 10%;
    margin: 15px;
}
