* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: white;
    padding-left: 150px;
    padding-right: 150px;
}

.content {
    text-align: center;
}

h1.not {
    color: #000080;
}

.kind {
    color: #FFC20F;
}
p {
    text-align: center;
}

.content h2 {
    color: #D59536;
    background-color: #000080;
    margin-top: 2px;
}

.style {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
}

input {
    height: 100%;
    border: none;
    border-bottom: 2px solid #000080;
}

.add {
    color: #000080;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 3px;
    padding-left: 150px;
    
}

.text {
    margin-left: 10px;
    text-align: left;
}

.icon {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.special {
    font-weight: bolder;
}

.icon svg {
    fill: #000080;
    /* transform: translateY(-20px); */
}

.loc-icon {
    transform: translateY(-8px);
}

.contain {
    margin-top: 10%;
    margin: 15px;
}


.heading {
    text-align: left;
    color: #000080;
    
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-size: 16px;
    font-weight: normal;
}

.location {
    position: relative;
}

.underline {
    position: absolute;
    width: 20%;
    height: 3px;
    background-color: #FFC20F;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);

}